**/*_cl.h
**/generated_kernels/*
.idea

строка ниже стоила мне всей домашки - мой основной файл build_lbvh.cl не добавился в коммит и я его стёр локально :(
./build*

data**
results**
cmake-build*
.vs
